body {
 ;
    height: 5246px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

header {
    height: 90px;
    background-color : #0C0C0E;
}

header h2 {
    color: #fff;
    text-align: left;
    margin: 20px 20px 20px 20px;
    font-family: "Forum", serif;
    /*font-style: normal;*/
    line-height: 167%;
    font-weight: normal;
    font-size: 30px;
    width: auto;
    height: 50px;
    display: inline-block;
    letter-spacing: 0.02em;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.nav{
    overflow: hidden;
    width: auto;
    height: 50px;
    float: right;
    margin-right: 30px ;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: Inter, sans-serif ;
    line-height: 50px;
    font-size: 20px;
    margin-top: 20px;
}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Используем flexbox */
    justify-content: center; /* Выравниваем содержимое по центру */

}

.nav li {
    margin: 0 10px; /* Добавляем отступы между элементами списка */
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: 400;
    line-height: 250%;
}

.nav li img{
    width: 28px;
    height: 28px;
    margin: 10px 10px;
}

.welcome {
    height: 600px;
    background-image: linear-gradient(to bottom, rgba(12, 12, 14, 1)0%,
    rgba(12, 12, 14, 1) 0%,
    rgba(18, 18, 21, 0.1) 100%),
    url("src/welcome bckg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome div{
    background-color: rgba(12, 12, 14);
    height: 220px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-text {
    color: white;
    margin: 0;
    height: 150px;
    width: 522px;
    font-family: "Forum", serif; display: flex;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-align: center;
    /*max-height: 3.6em; !* Установка максимальной высоты (3 строки по 1.2em высоты каждая) *!*/
    /*overflow: hidden;*/
    white-space: pre-wrap;
}.about h2 {

    margin: 20px;
    text-align: center;
    font-family: "Forum", serif;
    font-weight: 400;
    font-size: 40px;
    color: #0C0C0E;
 }
.about h3 {

    margin: 20px;
    text-align: center;
    font-family: "Forum", serif;
    font-weight: 400;
    font-size: 20px;
    color: #0C0C0E;
}
.line {
    border: none; /* Удаляем стандартную границу hr */
    height: 1px; /* Высота линии */
    background-color: #0C0C0E; /* Цвет линии */
    width: 50px;
}

.image-gallery{
    display: flex;
    width: 1440px;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.image-gallery img{
    width: 450px;
    height: 560px;

}

.circle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 16px;
    gap: 25px;
    margin-top: 40px ;
    margin-bottom: 40px;

}

.circle-1 {
    background: #bb945f;
    border-radius: 50px;
    height: 16px;
    width: 16px;
}

.circle-2 {
    background: #0c0c0e;
    border-radius: 50px;
    height: 16px;
    width: 16px;
}

.favorites{
    height: 1439px;
}

.favorites-title{
    text-align: center;
    font-family: "Forum", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #0c0c0e;
}

.favorites p {
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    color: #000;
    font-family: "Inter", sans-serif;
    margin-top: 40px;
    margin-left: 20px;
}
.seasons{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    height: 24px;
}

.seasons label{
    margin-left: 10px;
    margin-right: 90px;
    font-size: 20px;
}
input[type="radio"] {
    margin-right: 5px; /* Отступ между кнопкой и надписью */
}

.favorite-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1400px;
    height: 1150px;
    gap: 40px 200px;
    margin-top: 40px;

}
.favorite-items div{
    width: 590px;
    height: 555px;
    margin-top: 0;

}

.favorite-items div .border{
    border: 1px solid #000;
    width: 550px;
    height: 555px;
    margin-top: 0;
}

.staff-picks{
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Forum", serif;
    font-weight: 400;
}

.gold-line {
    border: none; /* Удаляем стандартную границу hr */
    height: 1px; /* Высота линии */
    background-color: #BB945F; /* Цвет линии */
    width: 50px;
    margin-left: 20px;
}

.book-author{
    font-family: Inter, sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 168px;
    letter-spacing: 0.02em;
    line-height: 40px;
    font-weight: bold;
}

.book-author-3{
    width: 355px;
    height: 80px;
    font-family: Inter, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: 0.02em;
    line-height: 40px;
    font-weight: bold;
    white-space: pre-wrap;
    text-align: left;
}

.favorite-items .border .read{
    font-family: "Forum", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    letter-spacing: 0.13em;
    text-transform: capitalize;
    text-align: left;
    color: #000;
    margin-left: 20px;
    width: 350px;
    height: 320px;
    float: left;
    margin-right: 15px;
}
.favorite-items .f-first .fav-book{
    background: url("src/fav-1.jpeg");
    width: 200px;
    height: 300px;
    position: absolute;
    /*float: right;*/
    top: 2025px ;
    left: 370px;
    z-index: 1;
}

.buy{

    border: 1px solid #0c0c0e;
    border-radius: 2px;
    width: 75px;
    height: 30px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #0c0c0e;
    background-color: white;

}